button {
    font-family: serif;
    font-size: 0.9em;
}
.flex-container {
    display: flex;
}

.flex-container-ver {
    display:flex;
    flex-direction: column;
}

#population_setter > * {
    justify-content: left;
    margin-left: 39px;
}
#canvas{
    width: 500px;
    height: 200px;
    background-color:cornsilk;
    margin: 20px;
}

#disruptionButtons {
    margin-top: 20px;
    width:202px;
    justify-content: space-evenly;
}
.center {
    display: flex;
    justify-content: center;
    margin: auto;
}

#stats {
    margin-top: 21px;
    width: 170px;
    padding-left: 17px;
    padding-right: 17px;
    height: 200px;
    border: 3px solid cornsilk;
    line-height: 0px;
}
#stats > * {
    line-height: 0em;
}
.h1 {
    padding: 30px;
}

.p {
    text-align: left;
}
.redtext {
    color: red;
}

#legend {
    position: fixed;
    left:0;
    top:0;
    padding: 15px;
    width: 200px;
    height: 100vh;
    overflow-wrap: break-word;
    color:cornflowerblue;
    background-color:seashell;
}

#notes {
    color: black;
    width: 200px;
}

#observations {
    position: fixed;  
    right:0;
    top:0;
    padding: 15px;
    width: 200px;
    height: 100vh;
    overflow-wrap: break-word;
    color:darkcyan;
    background-color:seashell;
}

#simulation {
    border: 1px solid black;
    width: 770px;
    margin: auto;
    padding-right: 13px;
}

#popu_year {
    justify-content: left;
}

#creditDiv {
    text-align: center;
    font-size:x-small;
    color:black;
    line-height: 0.7em;
}

#chineseName {
    font-family: 楷体;
}

#citationDiv {
    color:black;
}